<! DOCTYPE html>
<html>
    <head>
        <title> Cloudways </title>
        <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet" crossorigin = "anonymous" >
        <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin = "anonymous" > </script>
    </head>
    <body>

       
        {% include 'templates/navigation.twig' %}

        <div class = "container" >

           

        </div>

    </body>
</html>